<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGet official package source" value="https://www.nuget.org/api/v2/" />
    <add key="Particular Build Server" value="http://builds.particular.net/guestAuth/app/nuget/v1/FeedService.svc" />
  </packageSources>
</configuration>