@page
@model FrontEnd.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>Enter a customer name:</p>

    <form method="post">
        <input asp-for="Customer.Name" />
        <input type="submit" />
    </form>
</body>
</html>
