<h2>Home</h2>

<ul>
    <li>@Html.ActionLink("SendEnumMessage", "SendEnumMessage")</li>
    <li>@Html.ActionLink("SendIntMessage", "SendIntMessage")</li>
    <li>@Html.ActionLink("SendObjectMessage", "SendObjectMessage")</li>
</ul>