<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--startcode MessageQueueConfiguration-V5-->
  <connectionStrings>
    <add name="NServiceBus/Transport" connectionString="cacheSendConnection=true;journal=false;deadLetter=true;useTransactionalQueues=true"/>
  </connectionStrings>
  <!--endcode -->
</configuration>