
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    <form method="get" action="/Default/Send/">
        <input type="submit" value="Send a message"/>
    </form>
</div>
</body>
</html>
