<?xml version="1.0" encoding="utf-8"?>
<!--startcode sqlserver-multidb-sc -->
<configuration>
    <appSettings>
        <add key="ServiceControl/Port" value="33333" />
        <add key="ServiceControl/HostName" value="localhost" />
        <add key="ServiceControl/LogPath" 
             value="C:\ProgramData\Particular\ServiceControl\Particular.ServiceControl\Logs" />
        <add key="ServiceControl/DBPath" 
             value="C:\ProgramData\Particular\ServiceControl\Particular.ServiceControl\DB" />
        <add key="ServiceControl/ForwardAuditMessages" value="False" />
        <add key="ServiceControl/TransportType" 
             value="NServiceBus.SqlServerTransport, NServiceBus.Transports.SQLServer" />
        <add key="ServiceBus/AuditQueue" value="audit" />
        <add key="ServiceBus/ErrorQueue" value="error" />
        <add key="ServiceBus/ErrorLogQueue" value="error.log" />
        <add key="ServiceBus/AuditLogQueue" value="audit.log" />
    </appSettings>
    <connectionStrings>
        <add name="NServiceBus/Transport" 
             connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=ServiceControl;Integrated Security=True" />
        <add name="NServiceBus/Transport/EndpointA" 
             connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=EndpointA;Integrated Security=True" />
        <add name="NServiceBus/Transport/EndpointB" 
             connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=EndpointB;Integrated Security=True" />
    </connectionStrings>
</configuration>
<!-- endcode -->
