<?xml version="1.0" encoding="utf-8" ?>
<!--startcode MessageQueueConfiguration-V3-->
<configuration>
  <configSections>
    <section name="MsmqMessageQueueConfig" type="NServiceBus.Config.MsmqMessageQueueConfig, NServiceBus.Core" />
  </configSections>
  <MsmqMessageQueueConfig UseDeadLetterQueue="true" UseJournalQueue="false" />
</configuration>
<!--endcode -->