<?xml version="1.0" encoding="utf-8" ?>
<!--startcode configureAuditV5 -->
<configuration>
  <configSections>
    <section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core"/>
  </configSections>
  <AuditConfig QueueName="auditqueue@adminmachine"/>
</configuration>
<!--endcode--> 