<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--startcode specific-document-store-via-connection-string -->
  <connectionStrings>
    <add name="NServiceBus/Persistence/RavenDB/Subscription" connectionString="http://localhost:9090"/>
  </connectionStrings>
  <!--endcode-->
</configuration>