<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Metrics.NET" version="0.5.0-pre" targetFramework="net452" />
  <package id="NServiceBus" version="6.3.0-alpha0096" targetFramework="net452" />
  <package id="NServiceBus.Raw" version="0.2.1" targetFramework="net452" />
  <package id="ServiceControl.Contracts" version="1.1.1" targetFramework="net452" />
  <package id="ServiceControl.TransportAdapter" version="0.3.0" targetFramework="net452" />
</packages>