<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- startcode RoleBasedSecurity -->
  <system.webServer>
    <security>
      <authorization>
        <remove users="*" roles="" verbs="" />
        <add accessType="Allow" roles="SPReaders" verbs="GET,HEAD" />
      </authorization>
    </security>
  </system.webServer>
  <location path="api/errors">
    <system.webServer>
      <security>
        <authorization>
          <add accessType="Allow" roles="SPFailedMessages" verbs="POST,PATCH"/>
        </authorization>
      </security>
    </system.webServer>
  </location>
  <location path="api/recoverability">
    <system.webServer>
      <security>
        <authorization>
          <add accessType="Allow" roles="SPFailedMessages" verbs="POST,PATCH,DELETE"/>
        </authorization>
      </security>
    </system.webServer>
  </location>
  <location path="api/redirects">
    <system.webServer>
      <security>
        <authorization>
          <add accessType="Allow" roles="SPFailedMessages" verbs="POST,PUT,DELETE"/>
        </authorization>
      </security>
    </system.webServer>
  </location>
  <location path="api/pendingretries">
    <system.webServer>
      <security>
        <authorization>
          <add accessType="Allow" roles="SPFailedMessages" verbs="POST,PATCH"/>
        </authorization>
      </security>
    </system.webServer>
  </location>
  <location path="api/endpoints">
    <system.webServer>
      <security>
        <authorization>
          <add accessType="Allow" roles="SPMonitoring" verbs="PATCH,OPTIONS"/>
        </authorization>
      </security>
    </system.webServer>
  </location>
  <location path="api/customchecks">
    <system.webServer>
      <security>
        <authorization>
          <add accessType="Allow" roles="SPMonitoring" verbs="DELETE"/>
        </authorization>
      </security>
    </system.webServer>
  </location>
  <location path="api/messagestream">
    <system.webServer>
      <security>
        <authorization>
          <add accessType="Allow" users="?"/>
        </authorization>
      </security>
    </system.webServer>
  </location>
  <location path="monitoring">
    <system.webServer>
      <security>
        <authorization>
          <add accessType="Allow" roles="SPMonitoring" verbs="OPTIONS"/>
        </authorization>
      </security>
  </system.webServer>
</location>
  <!-- endcode -->
</configuration>


