@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>SendLinks</title>
</head>
<body>
    <div>
        <li>
            <a asp-controller="Sample" asp-action="SendMessageMvc">Send a message using Mvc</a>
        </li>
        <li>
            <a asp-controller="SampleApi" asp-action="SendMessageWebApi">Send a message using Web Api</a>
        </li>
        <li>
            <a href="/SendMessageRazorPages">Send a message using Razor Pages</a>
        </li>
        <li>
            <a asp-controller="Sample" asp-action="SendMessageBlazor">Send a message using Blazor</a>
        </li>
    </div>
</body>
</html>
