@using (Html.BeginForm())
{
    <p>@ViewBag.Title</p>
    <p>Enter a number below and click "Go".<br />
        If the number is even, the result will be "Fail", otherwise it will be "None"</p>
    <br/>
    <input type="text" id="textField" name="textField" />
    <input type="submit" value="Go" />
    <br/><br/>
    @ViewBag.ResponseText

    <br/><br/><br/><br/>
    <a asp-action="Index" asp-controller="Sample">Home</a>
}
