<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.3.1" targetFramework="net452" />
  <package id="NServiceBus" version="4.7.12" targetFramework="net452" />
  <package id="NServiceBus.CommonLogging" version="1.0.0.0" targetFramework="net452" />
  <package id="NServiceBus.Interfaces" version="4.7.12" targetFramework="net452" />
</packages>