@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width" />


    <title>Particular Software | Enterprise-Grade Service Platform for .NET - ServiceMatrix</title>

    <link href="/Content/Css.css" rel="stylesheet" type="text/css">
    <link href="/Content/Site.css" rel="stylesheet" type="text/css">
    <link href="/Content/Content.css" rel="stylesheet" type="text/css">

    <link href="/Images/favicon.ico" rel="shortcut icon" type="image/x-icon">
</head>
<body>
    <div id="layout-wrapper">
        <div class="container">
            <div class="logo">
                <div class="zone zone-header">
                    <article class="widget-header widget-html-widget widget">

                        <div>
                            <a href="http://particular.net/">
                                <img src="/Images/logo.png" alt="logo"></a>
                        </div>
                    </article>
                </div>
            </div>
            <div class="navigation">
                <div class="zone zone-navigation">
                    <article class="widget-main-menu widget-navigation widget-menu-widget widget">
                        <div id="main-menu">

                            <nav>
                                <ul class="menu menu-main-menu">

                                    <li class="dropdown first">

                                        <a href="http://particular.net/nservicebus">Products</a>
                                        <ul>

                                            <li>

                                                <a href="http://particular.net/service-platform">The Service Platform</a>
                                            </li>
                                            <li><span class="raw">
                                                <hr>
                                            </span>
                                            </li>
                                            <li>

                                                <a href="http://particular.net/nservicebus">NServiceBus</a>
                                            </li>
                                            <li>

                                                <a href="http://particular.net/ServiceInsight-1">ServiceInsight</a>
                                            </li>
                                            <li class="current">

                                                <a href="http://particular.net/ServiceMatrix-1">ServiceMatrix</a>
                                            </li>
                                            <li>

                                                <a href="http://particular.net/ServicePulse-1">ServicePulse</a>
                                            </li>
                                            <li><span class="raw">
                                                <hr>
                                            </span>
                                            </li>
                                            <li>

                                                <a href="http://particular.net/licensing">Licensing</a>
                                            </li>
                                            <li>

                                                <a href="http://particular.net/downloads">Downloads</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">

                                        <a href="http://particular.net/support">Services</a>
                                        <ul>

                                            <li>

                                                <a href="http://particular.net/support">Support</a>
                                            </li>
                                            <li>

                                                <a href="http://particular.net/consulting">Consulting</a>
                                            </li>
                                            <li>

                                                <a href="http://particular.net/onsite-training">On-site training</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">

                                        <a href="http://particular.net/HandsOnLabs">Resources</a>
                                        <ul>

                                            <li>

                                                <a href="http://particular.net/documentation/nservicebus">Documentation</a>
                                            </li>
                                            <li>

                                                <a href="http://particular.net/HandsOnLabs">Hands-on Labs</a>
                                            </li>
                                            <li>

                                                <a href="http://particular.net/Videos-and-Presentations">Videos and Presentations</a>
                                            </li>
                                            <li><span class="raw">
                                                <hr>
                                            </span>
                                            </li>
                                            <li><a href="http://particular.net/ServiceMatrix#ask-a-question">Ask a question</a>
                                            </li>
                                            <li>

                                                <a href="http://particular.net/SourceCode">Source code</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">

                                        <a href="http://particular.net/champions">Community</a>
                                        <ul>

                                            <li><a href="http://particular.net/blog">Particular Blog</a>
                                            </li>
                                            <li>

                                                <a href="http://particular.net/DiscussionGroup">Discussion Group</a>
                                            </li>
                                            <li>

                                                <a href="http://particular.net/champions">Community Champions</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown last">

                                        <a href="http://particular.net/about">Company</a>
                                        <ul>

                                            <li>

                                                <a href="http://particular.net/about">About Us</a>
                                            </li>
                                            <li>

                                                <a href="http://particular.net/customers">Customers</a>
                                            </li>
                                            <li>

                                                <a href="http://particular.net/CaseStudies">Case Studies</a>
                                            </li>
                                            <li>

                                                <a href="http://particular.net/partners">Partners</a>
                                            </li>
                                            <li>

                                                <a href="http://particular.net/Leadership">Leadership</a>
                                            </li>
                                            <li>

                                                <a href="http://particular.net/contactus">Contact Us</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </article>
                    <article class="widget-search widget-navigation widget-search-form widget">
                        <form action="http://particular.net/Search" class="search-form" method="get">
                            <div>
                                <input class="search" id="q" name="q" placeholder="Search" type="text" value="">
                                <button name="button" title="Search" class="search-button" type="submit">
                                    <img src="/Images/search.png" class="search-icon">
                                </button>
                            </div>
                        </form>
                    </article>
                </div>
            </div>

            <div id="layout-main" class="group">
                <div id="layout-content">
                    <div class="main-content" style="min-height: 0px; margin-bottom: 50px;">
                        <div class="zone zone-content">
                            <article class="content-item page">
                                <header>
                                    <h1>Thanks for using ServiceMatrix!</h1>
                                </header>

                                <div class="intro">
                                    <div class="after-header text-lato-28 header-emphasize">Visual Studio integrated SOA - done right</div>

                                    <div class="after-header text-lato-18">
                                        <p>Get the logical view of your system from top-to-bottom knowing that your design is always in sync with your code.</p>
                                        <p>Get all the configuration files, initialization code, and references you need set up automatically. You can literally “F5 and go”.</p>
                                    </div>
                                </div>

                                <div class="sidebar text-lato-16">
                                    <div class="label text-dosis-24"><strong>Try NServiceBus</strong></div>

                                    <div class="button small">
                                        @Html.ActionLink("Test Messages", "Index", "TestMessages", null, new { @class = "blue"})
                                    </div>
                                </div>

                                <div class="getting-started-images" style="width: 100%; text-align: center;">
                                    <div class="images-set">
                                        <a class="vimeo" href="http://player.vimeo.com/video/68316429?title=0&byline=0&portrait=0&autoplay=1" id="WatchIntro">
                                            <img alt="ServiceMatrix" src="/Images/ns-step1.png"></a>
                                        <a href="http://particular.net/articles/getting-started---creating-a-new-project" id="StepByStep">
                                            <img alt="ServiceMatrix - getting started - Creating a new project" src="/Images/ns-step2.png"></a>
                                        <a href="http://particular.net/Videos-and-Presentations" id="VideoTutorials">
                                            <img alt="video tutorials" src="/Images/ns-step3.png"></a>
                                        <a href="http://particular.net/documentation/nservicebus" id="ReadDocumentation">
                                            <img alt="documentation" src="/Images/ns-step4.png"></a>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer">
                <div class="zone zone-footer">
                    <article class="widget-footer widget-html-widget widget">
                        <div class="aboutus-footer">
                            <div class="footer-menu">
                                <ul>
                                    <li><a class="first" href="http://particular.net/nservicebus">Products</a></li>
                                    <li><a href="http://particular.net/service-platform">The Service Platform</a></li>
                                    <li><a href="http://particular.net/nservicebus">NServiceBus</a></li>
                                    <li><a href="/">ServiceMatrix</a></li>
                                    <li><a href="http://particular.net/ServiceInsight">ServiceInsight</a></li>
                                    <li><a href="http://particular.net/licensing">Licensing</a></li>
                                    <li><a href="http://particular.net/downloads">Downloads</a></li>
                                </ul>

                                <ul>
                                    <li><a class="first" href="http://particular.net/support">Solutions</a></li>
                                    <li><a href="http://particular.net/support">Support</a></li>
                                    <li><a href="http://particular.net/consulting">Consulting</a></li>
                                    <li><a href="http://particular.net/onsite-training" target="_blank">On-site training</a></li>
                                </ul>

                                <ul>
                                    <li><a class="first" href="http://particular.net/documentation/nservicebus">Resources</a></li>
                                    <li><a href="http://particular.net/documentation/nservicebus">Documentation</a></li>
                                    <li><a href="http://particular.net/HandsOnLabs">Hands-on labs</a></li>
                                    <li><a href="http://particular.net/Videos-and-Presentations">Videos and Presentations</a></li>
                                    <li><a href="http://particular.net/contactus#ask-a-question">Ask a question</a></li>
                                    <li><a href="http://particular.net/sourcecode">Source code</a></li>
                                </ul>

                                <ul>
                                    <li><a class="first" href="http://particular.net/blog">Community</a></li>
                                    <li><a href="http://particular.net/blog">Particular blog</a></li>
                                    <li><a href="http://particular.net/DiscussionGroup">Discussion group</a></li>
                                    <li><a href="http://particular.net/champions" target="_blank">Community Champions</a></li>
                                </ul>

                                <ul>
                                    <li><a class="first" href="http://particular.net/about">Company</a></li>
                                    <li><a href="http://particular.net/about">About</a></li>
                                    <li><a href="http://particular.net/customers">Customers</a></li>
                                    <li><a href="http://particular.net/casestudies">Case Studies</a></li>
                                    <li><a href="http://particular.net/partners">Partners</a></li>
                                    <li><a href="http://particular.net/Leadership">Leadership</a></li>
                                    <li><a href="http://particular.net/ContactUs">Contact Us</a></li>
                                </ul>
                            </div>

                            <div class="copyright" style="padding-top: 0px; margin-left: 30px;">Copyright © 2013 Particular Software Limited. All rights reserved | <a href="http://particular.net/Privacy" style="color: rgb(145, 158, 158);">Privacy Policy</a></div>

                        </div>

                    </article>
                </div>
            </div>
        </div>
        <div class="footer-mirror"></div>
    </div>
</body>
</html>

