<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- startcode NHibernateAppConfig-->
  <configSections>
    <!-- There are equivalent config sections named 'DBSubscriptionStorageConfig' and 
    'TimeoutPersisterConfig' for subscription and timeout storage respectively.-->
    <section name="TimeoutPersisterConfig"
             type="NServiceBus.Config.TimeoutPersisterConfig, NServiceBus.Core" />
  </configSections>
  <NHibernateSagaPersisterConfig UpdateSchema="true">
    <NHibernateProperties>
      <add Key="connection.provider"
           Value="NHibernate.Connection.DriverConnectionProvider"/>
      <add Key="connection.driver_class"
           Value="NHibernate.Driver.SQLite20Driver"/>
      <add Key="connection.connection_string"
           Value="Data Source=.\DBFileNameFromAppConfig.sqlite;Version=3;New=True;"/>
      <add Key="dialect"
           Value="NHibernate.Dialect.SQLiteDialect"/>
    </NHibernateProperties>
  </NHibernateSagaPersisterConfig>
  <!--endcode -->
</configuration>