<div class="col-md-@Model.RightWidth">
    <div class="card my-4">
        <h5 class="card-header">Get Extended Trial License</h5>
        <div class="card-body">
            <p>You've now started your trial of NServiceBus and can keep using it for free for the next two weeks.</p>
            <p>You can also register your trial license now and access the following benefits:</p>
            <ul>
                <li>An extended <b>30-day trial license</b> (more than double the current trial period)</li>
                <li><b>Free tech support</b> from the developers of NServiceBus</li>
            </ul>
            <p>If you need more than 30 days, just let us know and we can extend it further.</p>
            <p class="text-center">
                <a id="license-btn" target="_blank" class="btn btn-lg btn-success">Extend Your Trial Now</a>
            </p>
        </div>
    </div>
</div>
