<div class="col-md-@Model.RightWidth">
    <div class="card my-4">
        <h5 class="card-header">Get your free development license</h5>
        <div class="card-body">
            <p>Are you getting a sense of how NServiceBus can improve your system architecture?</p>
            <p>The Particular Service Platform (including NServiceBus) is free for development, QA, UAT…basically until you’re running in production, as long as you have a valid development license.</p>
            <p>Get your free development license <b>right now</b>.</p>
            <p class="text-center">
                <a id="license-btn" href="_blank" target="_blank" class="btn btn-lg btn-success">Get Free License</a>
            </p>
        </div>
    </div>
</div>