<div class="col-md-@Model.RightWidth">
    <div class="card my-4">
        <h5 class="card-header">Get Extended Trial License</h5>
        <div class="card-body">
            <p>Now that you've seen what NServiceBus can do, why not extend your trial license? You'll get:</p>
            <ul>
                <li>A <b>free 30-day extended trial license</b>.</li>
                <li><b>Free tech support</b> during your trial period.</li>
            </ul>
            <p><i>We know projects can take some time to get off the ground.</i> At the end of your trial, just let us know and we'll be happy to extend your trial again if you need it.</p>
            <form method="post" id="license-form" action="https://go.pardot.com/l/27442/2014-03-20/3fkvwt">
                <div class="form-group">
                    <label for="firstname">First name</label>
                    <input id="firstname" name="FirstName" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="lastname">Last name</label>
                    <input id="lastname" name="LastName" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" name="Email" type="text" class="form-control" />
                </div>
                <p class="text-center">
                    <button type="submit" id="submit-license" class="btn btn-lg btn-success">Extend Your Trial Now</button>
                </p>
                <p class="text-center" style="margin-top: 2em; color: #999; font-size: 0.75em;">
                    We collect and use this information in accordance with our <a href="https://particular.net/gdpr-privacy">privacy policy</a>.
                </p>
            </form>
        </div>
    </div>
</div>
