<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Iesi.Collections" version="3.3.3.4000" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="NHibernate" version="3.3.3.4001" targetFramework="net45" />
  <package id="NLog" version="2.1.0" targetFramework="net45" />
  <package id="NServiceBus" version="4.4.2" targetFramework="net45" />
  <package id="NServiceBus.Interfaces" version="4.4.2" targetFramework="net45" />
  <package id="NServiceBus.NHibernate" version="4.5.0" targetFramework="net45" />
  <package id="NServiceBus.Testing" version="4.4.2" targetFramework="net45" />
</packages>