<?xml version="1.0" encoding="utf-8" ?>
<!--startcode sqlserver-connection-string-xml 3 -->
<connectionStrings>
   <add name="NServiceBus/Transport"
        connectionString="Data Source=INSTANCE_NAME; Initial Catalog=some_database; Integrated Security=True"/>
</connectionStrings>
<!--endcode-->

<!--startcode sqlserver-named-connection-string-xml 3 -->
<configuration>
  <connectionStrings>
    <add name="MyConnectionString" 
         connectionString="Data Source=INSTANCE_NAME; Initial Catalog=some_database; Integrated Security=True; Queue Schema=nsb"/>
  </connectionStrings>
</configuration>
<!--endcode-->