<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MySql.Data" version="6.9.9" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="NServiceBus" version="6.1.1" targetFramework="net461" />
  <package id="NServiceBus.Persistence.Sql" version="1.0.0-beta0010" targetFramework="net461" />
  <package id="NServiceBus.Persistence.Sql.ScriptBuilder" version="1.0.0-beta0010" targetFramework="net461" />
  <package id="NUnit" version="3.5.0" targetFramework="net461" />
</packages>