<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--startcode sqlserver-singledb-multischema-config 1.2.3 -->
  <connectionStrings>
    <add name="NServiceBus/Transport"
         connectionString="Data Source=INSTANCE_NAME; Initial Catalog=some_database; Integrated Security=True; Queue Schema=nsb"/>
  </connectionStrings>
  <!--endcode-->
</configuration>