@{
    ViewBag.Title = "Place an order";
}

<div class="jumbotron">
    <h1>Place an order</h1>
    <p class="lead">Click the button to place an order.</p>
    <form action="/home/placeorder" method="POST">
        <p>
            <input type="submit" class="btn btn-primary btn-lg" onclick="sentMessage()" value="Place order &raquo;"/>
        </p>
    </form>
</div>