@{
    ViewBag.Title = "Order placed";
}

<div class="jumbotron">
    <h1>Thank you for your purchase.</h1>
    <p class="lead">Your order has been placed successfully.</p>
    <a href="/" class="btn btn-primary btn-lg">Place another order &raquo;</a>
</div>