@{
    ViewBag.Title = "Order placed";
}

<div class="jumbotron">
    <h1>Message sent</h1>
    <p class="lead">Your order has been placed successfully.</p>
    <p>Go look in the <b>Sales</b> and <b>Billing</b> console windows to see the <code>PlaceOrder</code> command and <code>OrderPlaced</code> event getting processed.</p>
    <a href="/" class="btn btn-primary btn-lg">&laquo; Go back to place another order</a>
</div>