@{
    ViewBag.Title = "Order placed";
}

<div class="jumbotron">
    <h1>Thank you for your purchase.</h1>
    <p class="lead">Your order has been placed successfully. Go look in the Sales and Billing console windows to see the 'PlaceOrder' command and 'OrderPlaced' event getting processed.</p>
    <a href="/" class="btn btn-primary btn-lg">Place another order &raquo;</a>
</div>