@model dynamic
@{
    ViewBag.Title = "Order placed";
    // Want to keep this info out of the controller to make controller more understandable
    if (Model.MessagesSent < 5)
    {
        Model.ShowForm = false;
        Model.LeftWidth = 12;
    }
    else
    {
        Model.ShowForm = true;
        Model.LeftWidth = 7;
        Model.RightWidth = 5;
    }
}

<div class="container">
    <div class="row">
        <div class="col-md-@Model.LeftWidth">
            <div class="panel panel-default">
                <div class="panel-heading">Order sent</div>
                <div class="panel-body">
                    <h1>OrderId <code>@Model.OrderId</code> sent</h1>
                    <p class="lead">Your order has been placed successfully. You have sent <b>@Model.MessagesSent total messages</b>.</p>
                    <p>Go look in the <b>Sales</b> and <b>Billing</b> console windows to see the <code>PlaceOrder</code> command and <code>OrderPlaced</code> event getting processed.</p>
                    <form action="/home/placeorder" method="POST">
                        <p>
                            <input type="submit" class="btn btn-primary btn-lg" onclick="sentMessage()" value="Place another order &raquo;" />
                        </p>
                    </form>
                </div>
            </div>
        </div>
        @if (Model.ShowForm) { Html.RenderPartial("_LicenseForm"); }
    </div>
</div>

