<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.0.0" targetFramework="net45" />
  <package id="Iesi.Collections" version="3.3.3.4000" targetFramework="net45" />
  <package id="log4net" version="2.0.0" targetFramework="net45" />
  <package id="Microsoft.CompilerServices.AsyncTargetingPack" version="1.0.1" targetFramework="net45" />
  <package id="NHibernate" version="3.3.3.4001" targetFramework="net45" />
  <package id="NLog" version="3.0.0.0" targetFramework="net45" />
  <package id="NServiceBus" version="5.0.0-beta0001" targetFramework="net45" />
  <package id="NServiceBus.CommonLogging" version="1.2.0-beta0001" targetFramework="net45" />
  <package id="NServiceBus.Interfaces" version="4.1.1" targetFramework="net45" />
  <package id="NServiceBus.Log4Net" version="0.2.0-beta0001" targetFramework="net45" />
  <package id="NServiceBus.NHibernate" version="4.6.0-unstable0130" targetFramework="net45" />
  <package id="NServiceBus.NLog" version="0.2.0-beta0001" targetFramework="net45" />
  <package id="NServiceBus.RavenDB" version="0.3.0-unstable150" targetFramework="net45" />
  <package id="RavenDB.Client" version="2.5.2879" targetFramework="net45" />
</packages>