<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--startcode sqlserver-singledb-multischema-config-->
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Assembly="Billing.Contract"
           Endpoint="billing@schema_name"/>
      <add Assembly="Sales.Contract"
           Endpoint="sales@another_schema_name"/>
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <!--endcode-->
  <!--startcode sqlserver-non-standard-schema-messagemapping -->
  <connectionStrings>
    <add name="NServiceBus/Transport"
         connectionString="Data Source=INSTANCE_NAME; Initial Catalog=some_database; Integrated Security=True;"/>
    <add name="NServiceBus/Transport/Billing"
         connectionString="Data Source=INSTANCE_NAME; Initial Catalog=some_database; Integrated Security=True;Queue Schema=receiver"/>
  </connectionStrings>
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Messages="Sales.Contract"
           Endpoint="sales@salesSchema"/>
      <add Messages="Billing.Contract"
           Endpoint="[billing]@[billingSchema]"/>
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <!--endcode-->
</configuration>