name: PullRequest
on: pull_request
env:
  DOTNET_NOLOGO: true
  DOTNET_ROLL_FORWARD: Major
jobs:
  content-verification:
    name: Content verification
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5.0.1
        with:
          global-json-file: global.json
        # Caching is done to limit data transfer on each PR, not to optimize CI speed
      - name: Check docstool version for cache
        run: |
           curl --connect-timeout 5 --max-time 15 --silent --show-error https://s3.amazonaws.com/particular.downloads/Particular.DocsTool/version.json >> docstool-version.json
      - name: Cache docstool
        id: cache-docstool
        uses: actions/cache@v4.2.4
        with:
          path: |
             ~/.dotnet/tools/docstool
             ~/.dotnet/tools/.store/particular.docstool
          key: docstool-${{ hashFiles('docstool-version.json') }}
      - name: Install docstool
        if: steps.cache-docstool.outputs.cache-hit != 'true'
        run: dotnet tool install Particular.DocsTool --global --add-source https://f.feedz.io/particular-software/packages/nuget/index.json
      - name: Run docstool
        run: docstool test --no-version-check
  integrity-tests:
    name: Integrity tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5.0.1
        with:
          global-json-file: global.json
      - name: Run integrity tests
        run: dotnet test tests/IntegrityTests/IntegrityTests.csproj --configuration Release --logger "GitHubActions;report-warnings=false"
  build-projects:
    name: Build samples & snippets
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5.0.1
        with:
          global-json-file: global.json
      - name: Add MSBuild to PATH
        uses: microsoft/setup-msbuild@v2
      - name: Build affected samples & snippets
        run: pwsh.exe -NoLogo -NonInteractive -File .\tools\build-samples-and-snippets.ps1
