name: VerifyMaster
on:
  push:
    branches:
      - master
env:
  DOTNET_NOLOGO: true
  DOTNET_ROLL_FORWARD: Major
jobs:
  content-verification:
    name: Content verification
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5.0.0
        with:
          global-json-file: global.json
        # Caching is done to limit data transfer on each PR, not to optimize CI speed
      - name: Check docstool version for cache
        run: |
           curl --connect-timeout 5 --max-time 15 --silent --show-error https://f.feedz.io/particular-software/packages/nuget/v3/packages/particular.docstool/index.json >> docstool-versions.json
      - name: Cache docstool
        id: cache-docstool
        uses: actions/cache@v4.2.4
        with:
          path: |
             ~/.dotnet/tools/docstool
             ~/.dotnet/tools/.store/particular.docstool
          key: docstool-${{ hashFiles('docstool-versions.json') }}
      - name: Install docstool
        if: steps.cache-docstool.outputs.cache-hit != 'true'
        run: dotnet tool install Particular.DocsTool --global --add-source https://f.feedz.io/particular-software/packages/nuget/index.json
      - name: Run docstool
        run: docstool test --no-version-check
      - name: Notify Slack on failure
        if: ${{ failure() }}
        shell: pwsh
        run: |
          $headers = @{
              'Authorization' = "Bearer ${{ secrets.SLACK_TOKEN }}"
          }
          $body = @{
            channel = 'docs'
            text = "Content verification has failed on master: https://github.com/Particular/docs.particular.net/actions/workflows/verify-master.yml?query=branch%3Amaster"
            username = 'Content verification'
            icon_emoji = 'github_actions'
            unfurl_links = false
            unfurl_media = false
          } | ConvertTo-Json
          $result = Invoke-RestMethod -Method POST -Uri https://slack.com/api/chat.postMessage -ContentType "application/json; charset=utf-8" -Headers $headers -Body $body
          Write-Output $result
          exit $(If ($result.ok) { 0 } Else { 1 })
  integrity-tests:
    name: Integrity tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5.0.0
        with:
          global-json-file: global.json
      - name: Run integrity tests
        run: dotnet test tests/IntegrityTests/IntegrityTests.csproj --configuration Release --logger "GitHubActions;report-warnings=false"
      - name: Notify Slack on failure
        if: ${{ failure() }}
        shell: pwsh
        run: |
          $headers = @{
              'Authorization' = "Bearer ${{ secrets.SLACK_TOKEN }}"
          }
          $body = @{
            channel = 'docs'
            text = "Integrity tests have failed on master: https://github.com/Particular/docs.particular.net/actions/workflows/verify-master.yml?query=branch%3Amaster"
            username = 'Integrity tests'
            icon_emoji = 'github_actions'
            unfurl_links = false
            unfurl_media = false
          } | ConvertTo-Json
          $result = Invoke-RestMethod -Method POST -Uri https://slack.com/api/chat.postMessage -ContentType "application/json; charset=utf-8" -Headers $headers -Body $body
          Write-Output $result
          exit $(If ($result.ok) { 0 } Else { 1 })

