@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InjectingBusSample</title>
</head>
<body>
    <div>
        <form method="get" action="/Default/Send/">
            <input type="submit" value="Send a message" />
        </form>
    </div>
</body>
</html>
